@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 100%;
}
body {
 font-family: serif;
 background-color: #000;
 color: #fff;
}
a {
 text-decoration: none;
}
img {
 max-width: 100%;
}
li {
 list-style: none;
}
.page-title {
  font-size: 140px;
  position: relative;
  opacity: .1;
}
/* box部分 */
.box {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* header部分 */
header {
  padding: 25px;
}
header img {
  position: fixed;
  z-index: 999;
  width: 70px;
  height: 70px;
  border-radius: 30px;
}
/* box部分 */
.box {
  background-attachment: fixed;
}
.box-rgba {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
/* ナビゲーションバー部分 */
/*========= ナビゲーションのためのCSS ===============*/
#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:0;
  right: -120%;
  width: 30%;
  height: 100vh;/*ナビの高さ*/
  background:#999;
  /*動き*/
  transition: all 1.5s;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:20%;
  left:15%;
  transform: translate(-50%,-50%);
}
/*リストのレイアウト設定*/
#g-nav li{
  list-style: none;
  text-align: center;
  font-size: 25px;
}
#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
/*========= ボタンのためのCSS ===============*/
.openbtn {
  position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
  top: 35px;
  right: 55px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}
/*×に変化*/
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  opacity: .7;
  width: 50%;
}
.openbtn span:nth-of-type(1) {
  top:15px;
}
.openbtn span:nth-of-type(2) {
  top:23px;
}
.openbtn span:nth-of-type(3) {
  top:31px;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}
/* topページ部分 */
.top-page {
  text-align: center;
  margin-top: 15%;
  opacity: .8;
}
.top-page .top-title {
  font-size: 5rem;
}
.top-page .top-sub-title {
  font-size: 1.5rem;
  position: relative;
}
.arrow-btn {
  position: absolute;
  display: inline;
  bottom: 10%;
}
.arrow {
  border: 1px solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  opacity: .5;
}
.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* about部分 */
.about {
  min-height: 100vh;
  /* background-image: url(../img/japanese-black.png); */
  background-color: #0f131e;
}
.about .page-title {
  font-size: 140px;
  position: relative;
  opacity: .1;
}
.about .about-img {
  width: 30%;
  position: relative;
  margin: 5% 10%;
}
.about .about-contents {
  position: absolute;
  display: inline;
  left: 50vw;
  bottom: -35vw;
  width: 35%;
}
.about .about-contents h3 {
  position: absolute;
  bottom: 5vw;
  left: 2vw;
  font-size: 35px;
}
/* pride部分 */
.pride {
  min-height: 100vh;
  background-color: #0f131e;
}
.pride .pride-contents {
  padding: 5% 5% 0;
  position: relative;
}
.pride .pride-contents h3 {
  font-size: 35px;
  position: absolute;
  bottom: 26vw;
  left: 10vw;
}
.pride-images {
  display: flex;
  justify-content: center;
}
.pride-images img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  margin: 40px;
  transition: .5s all;
}
.pride-images img:hover {
  transform:scale(1.1, 1.1);
  transition: 1s all;
}
.pride-text {
  position: relative;
}
.pride-text p {
  position: absolute;
  font-size: 65px;
  bottom: 0vw;
  text-shadow: 2px 2px 2px grey;
}
.pride-text .sumi {
  left: 1vw;
}
.pride-text .fish {
  left: 30vw;
}
.pride-text .view {
  left: 62vw;
}
/* menu部分 */
.menu {
  min-height: 100vh;
  background-color: #0f131e;
}
.menu .menu-contents {
  padding: 0 5%;
  position: relative;
}
.menu .menu-contents h3 {
  font-size: 35px;
  position: absolute;
  bottom: 3vw;
  left: 8vw;
}
.slider {
  margin-top: 35px;
}
.slider img {
  width: 100%;
}
.slider .menu-img {
  margin-left: 10px;
}
