@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 100%;
}
body {
 font-family: serif;
 background-color: #000;
 color: #fff;
 margin: 0;
}
a {
 text-decoration: none;
}
img {
 max-width: 100%;
}
li {
 list-style: none;
}
.page-title {
  font-size: 140px;
  position: relative;
  opacity: .1;
  margin-bottom: 0;
}
/* iframe */
iframe {
  width: 100%;
}
/* box部分 */
.box {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* そばページ部分 */
.soba-box {
  height: auto;
}
/* header部分 */
header {
  padding: 25px;
}
header img {
  position: fixed;
  z-index: 999;
  width: 70px;
  height: 70px;
  border-radius: 30px;
  opacity: .6;
}
/* box部分 */
.box {
  background-attachment: fixed;
}
.box-rgba {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
/* ナビゲーションバー部分 */
/*========= ナビゲーションのためのCSS ===============*/
#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:0;
  right: -120%;
  width: 30%;
  height: 100vh;/*ナビの高さ*/
  background:#000;
  opacity: .5;
  /*動き*/
  transition: all 1s;
}
/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  right: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:20%;
  left:15%;
  transform: translate(-50%,-50%);
  margin-top: 100px;
}
/*リストのレイアウト設定*/
#g-nav li{
  list-style: none;
  text-align: center;
  font-size: 25px;
}
#g-nav li a{
  color: #fff;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
/*========= ボタンのためのCSS ===============*/
.openbtn {
  position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
  top: 35px;
  right: 55px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}
/*×に変化*/
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  opacity: .7;
  width: 50%;
}
.openbtn span:nth-of-type(1) {
  top:15px;
}
.openbtn span:nth-of-type(2) {
  top:23px;
}
.openbtn span:nth-of-type(3) {
  top:31px;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}
.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}
/* topページ部分 */
.top-page {
  text-align: center;
  margin-top: 15%;
  opacity: .8;
}
.top-page .top-title {
  font-size: 5rem;
}
.top-page .top-sub-title {
  font-size: 1.5rem;
  position: relative;
}
.arrow-btn {
  position: absolute;
  display: inline;
  bottom: 10%;
}
.arrow {
  border: 1px solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  opacity: .5;
}
.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* そば部分 */
/* そばheader部分 */
.soba-header {
  background-image: url('../img/soba-image/sky2.png');
  height: 80px;
}
.soba-header h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  opacity: .6;
}
/* そばページtop部分 */
.soba-top {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.soba-top img {
  width: 350px;
}
.soba-title {
  margin: 50px 0;
}
.soba-title h2 {
  font-size: 3vw;
  border-bottom: 1px solid red;
}
.soba-title p {
  font-size: 20px;
}
.soba-title .soba-menu  {
  margin-top: 45px;
}
.soba-title .soba-menu li {
  list-style: circle;
  font-size: 20px;
}
.soba-to-prev {
  background-color: #fff;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}
/* About部分 */
.about {
  min-height: 100vh;
  background-color: #0f131e;
}
.about .page-title {
  font-size: 120px;
  position: relative;
  opacity: .1;
}
.about .about-img {
  width: 30%;
  position: relative;
  margin: 5% 10%;
}
.about .about-contents {
  position: absolute;
  display: inline;
  left: 50vw;
  bottom: -35vw;
  width: 40%;
}
.about .about-contents h3 {
  position: absolute;
  bottom: 80px;
  left: 2vw;
  font-size: 35px;
}
.about .about-contents p {
  width: 90%;
}
/* Pride部分 */
.pride {
  background-color: #0f131e;
  padding-bottom: 50px;
}
.pride .pride-contents {
  padding: 5% 5% 0;
  position: relative;
}
.pride .pride-contents h3 {
  font-size: 35px;
  position: absolute;
  top: 170px;
  left: 10vw;
}
.pride-images {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.pride-images img {
  width: 27%;
  height: 100%;
  object-fit: cover;
  margin: 40px;
  transition: .5s all;
}
.pride-images img:hover {
  transform:scale(1.1, 1.1);
  transition: 1s all;
}
.pride-text {
  position: relative;
}
.pride-text p {
  position: absolute;
  font-size: 65px;
  bottom: 0vw;
  text-shadow: 2px 2px 2px grey;
}
.pride-text .sumi {
  left: 1vw;
}
.pride-text .fish {
  left: 31vw;
}
.pride-text .view {
  left: 61vw;
}
/* pride-page部分 */
.pride-page {
  background-color: #0f131e;
}
.pride-page .pride-contents .page-title {
  padding: 20px;
}
.pride-page .pride-contents h3 {
  padding-left: 20px;
  margin-top: -30px;
}
.pride-page .pride-contents ul {
  margin: 0 70px;
}
.pride-page .pride-contents ul li {
  display: flex;
  margin-top: 80px;
}
.pride-page .pride-contents ul li:nth-child(even) {
  flex-direction: row-reverse;
}
.pride-page .pride-contents ul li img {
  width: 40%;
  padding: 0 30px;
  border-radius: 42px;
}
.pride-page .pride-explain h4 {
  font-size: 60px;
  text-shadow: 2px 2px 2px grey;
}
.pride-page .pride-explain p {
  font-size: 23px;
  opacity: .6;
}
.pride-page .back-to-prev {
  text-align: center;
  margin: 30px 0 0 0;
  padding-bottom: 20px;
}
/* Menu部分 */
.menu {
  background-color: #0f131e;
  padding-bottom: 50px;
}
.menu .menu-contents {
  padding: 0 5%;
  position: relative;
}
.menu .menu-contents h3 {
  font-size: 35px;
  position: absolute;
  bottom: 40px;
  left: 8vw;
}
.slider {
  margin-top: 65px;
}
.slider img {
  width: 100%;
}
.slider .menu-img {
  margin-left: 10px;
}
/* menuページ部分 */
.menu-page {
  background-color: #0f131e;
}
.menu-page .menu-contents {
  padding: 20px;
}
.menu-page .menu-details {
  padding: 0 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-page .menu-details .menu-explain {
  margin-top: 20px;
  width: 29%;
}
.menu-page .back-to-prev {
  margin: 30px 0 0 0;
  padding-bottom: 30px;
}
/* .menu-details .menu-explain img {
  width: 29%;
} */
/* faq部分 */
.faq {
  background-color: #0f131e;
  padding-bottom: 150px;
}
.faq .faq-contents {
  padding: 0 5%;
  position: relative;
}
.faq .faq-contents h3 {
  font-size: 35px;
  position: absolute;
  top: 100px;
  left: 7vw;
}
.faq .faq-contents .qa-list p {
  margin: 0;
}
.faq .faq-contents .qa-list .qa-item {
  border-bottom: 1px solid #fff;
  padding: 20px;
  width: 75%;
  margin: 0 auto;
}
.qa {
  position: relative;
  cursor: pointer;
}
.qa::after {
  content: "";
	display: inline-block;
	position: absolute;
	top: 45%;
	right: 30px;
	width: 10px;
	height: 10px;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: translateY(-50%) rotate(45deg);
	transition: .3s;
}
.qa.open:after {
  transform: rotate(225deg);
}
.faq .faq-contents .qa-list .ans {
  display: none;
  color: yellow;
}

/* Access部分 */
.access {
  background-color: #0f131e;
  padding-bottom: 70px;
}
.access .access-contents {
  padding: 0 5%;
  position: relative;
}
.access .access-contents h3 {
  font-size: 35px;
  position: absolute;
  top: 100px;
  left: 8vw;
}
.access .access-contents .access-detail {
  display: flex;
  justify-content: space-between;
}
.access .access-contents .detail-letter {
  width: 30%;
  padding: 50px;
  font-size: 18px;
}
.access .access-contents .detail-letter .letter-markup {
  border-bottom: 1px solid #fff;
}
.access .access-contents .detail-letter .access-detail-explain {
  font-size: 16px;
}
.access .access-contents .detail-map {
  width: 60%;
  margin: 40px 0;
}
/* footer部分 */
footer {
  background-color: #0f131e;
  border-top: 1px solid #fff;
}
footer p {
  text-align: center;
  padding: 20px 0;
}
/* そばページfooter部分 */
.soba-footer {
  background-image: url('../img/soba-image/sky2.png');
}
/* レスポンシブデザイン タブレット版 */
@media screen and (max-width: 960px){
  header img {
    height: 80px;
    width: 80px;
    border-radius: 25px;
  }
  /* ボタンのcss */
  .openbtn {
    top: 40px;
    right: 80px;
  }
  /* ナビゲーションバー部分 */
  #g-nav {
    width: 40%;
    opacity: .7;
  }
  #g-nav ul {
    left: 19%;
  }
  #g-nav li {
    font-size: 25px;
  }
  /* top部分 */
  .top-page {
    margin-top: 50%;
  }
  .top-page .top-title {
    font-size: 35px;
    margin-top: 50px;
  }
  /* 矢印部分 */
  .arrow {
    border-width: 0 3px 3px 0;
  }
  /* そば部分 */
  /* そばページtop部分 */
  .soba-top {
    padding: 130px 20px;
  }
  /* そばページtop部分 */
  .soba-top {
    padding: 20px;
    display: block;
  }
  .soba-title {
    margin: 20px 0;
    border-bottom: 1px solid red;
  }
  .soba-title h2 {
    font-size: 20px;
  }
  .soba-title p {
    font-size: 15px;
  }
  .soba-title .soba-menu li {
    font-size: 15px;
  }
  /* about部分 */
  .about {
    min-height: 35vh;
  }
  .about .about-img {
    width: 35%;
    margin: 0 30px;
    margin-top: 35px;
  }
  .about .page-title {
    font-size: 60px;
  }
  .about .about-contents {
    bottom: -40vw;
    width: 50%;
  }
  .about .about-contents h3 {
    font-size: 20px;
    bottom: 100px;
  }
  .about .about-contents p {
    width: 90%;
    font-size: 15px;
    padding-top: 15px;
  }
  /* pride部分 */
  .pride .pride-contents .page-title {
    font-size: 60px;
  }
  .pride .pride-contents h3 {
    font-size: 20px;
    top: 72px;
  }
  .pride .pride-contents .pride-letter {
    font-size: 15px;
    margin: 5px;
  }
  .pride-images {
    padding-top: 0;
  }
  .pride-images img {
    margin: 15px;
  }
  .pride .pride-contents .pride-text p {
    top: -41px;
    font-size: 25px;
  }
  /* pride-page部分 */
  .pride-page .pride-contents .page-title {
    font-size: 140px;
  }
  .pride-page .pride-contents ul li {
    margin-top: 45px;
  }
  .pride-page .pride-contents ul li img {
    height: 100%;
    margin-right: 20px;
    padding: 0;
    border-radius: 8px;
    margin-top: 20px;
  }
  .pride-page .pride-explain h4 {
    font-size: 50px;
  }
  .pride-page .pride-explain p {
    font-size: 18px;
  }
  /* menu部分 */
  .menu .menu-contents .page-title {
    font-size: 60px;
  }
  .menu .menu-contents h3 {
    font-size: 20px;
    bottom: 31px;
  }
  .menu .menu-contents p {
    font-size: 15px;
    margin: 5px;
  }
  .slider {
    margin-top: 20px;
  }
  /* menuページ部分 */
  .menu-page .menu-contents h3 {
    margin-top: -15px;
  }
  .menu-page .menu-details {
    padding: 0 70px;
  }
  .menu-page .back-to-prev {
    margin: 30px 0 0 0;
    padding-bottom: 20px;
    text-align: center;
  }
  /* faq部分 */
  .faq {
    padding-bottom: 50px;
  }
  .faq .faq-contents .page-title {
    font-size: 60px;
  }
  .faq .faq-contents h3 {
    font-size: 20px;
    top: 36px;
  }
  .faq .faq-contents .qa-list {
    margin-top: 10px;
  }
  .faq .faq-contents .qa-list .qa-item {
    padding: 15px;
    font-size: 15px;
  }
  .qa::after {
    right: 10px;
  }
  /* access部分 */
  .access {
    padding-bottom: 5px;
  }
  .access .access-contents .page-title {
    font-size: 60px;
  }
  .access .access-contents h3 {
    font-size: 20px;
    top: 40px;
  }
  .access .access-contents .access-detail {
    display: block;
  }
  .access .access-contents .detail-letter {
    width: 100%;
    padding: 30px 60px;
    font-size: 20px;
  }
  .access .access-contents .detail-letter p {
    margin-bottom: 10px;
  }
  .access .access-contents .detail-letter .access-detail-explain {
    font-size: 15px;
  }
  .access .access-contents .detail-map {
    width: 80%;
    margin: 0 auto;
  }
  /* footer部分 */
  footer p {
    font-size: 20px;
  }
}
/* レスポンシブデザイン スマートフォン版 */
@media screen and (max-width: 480px){
  header img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
  }
  /* ボタンのcss */
  .openbtn {
    top: 25px;
    right: 45px;
  }
  /* ナビゲーションバー部分 */
  #g-nav {
    width: 45%;
    opacity: .7;
  }
  #g-nav li {
    font-size: 13px;
  }
  /* top部分 */
  .top-page {
    margin-top: 60%;
  }
  .top-page .top-title {
    font-size: 15px;
  }
  /* そば部分 */
  /* そばheader部分 */
  .soba-header {
    height: 40px;
  }
  .soba-header h1 {
    font-size: 30px;
  }
  /* about部分 */
  .about .page-title {
    font-size: 30px;
  }
  .about .about-contents {
    bottom: -60vw;
    width: 50%;
  }
  .about .about-contents h3 {
    font-size: 13px;
    bottom: 100px;
  }
  .about .about-contents p {
    width: 90%;
    font-size: 8px;
    padding-top: 30px;
  }
  /* pride部分 */
  .pride .pride-contents .page-title {
    font-size: 30px;
  }
  .pride .pride-contents h3 {
    font-size: 13px;
    top: 34px;
  }
  .pride .pride-contents .pride-letter {
    font-size: 8px;
    margin: 5px;
  }
  .pride .pride-contents .pride-text p {
    top: -41px;
  }
  .pride-images img {
    margin: 10px;
  }
  /* pride-page部分 */
  .pride-page .pride-contents .page-title {
    font-size: 60px;
  }
  .pride-page .pride-contents h3 {
    font-size: 20px;
    padding-left: 40px;
  }
  .pride-page .pride-contents ul {
    margin: 0 20px;
  }
  .pride-page .pride-contents ul li {
    margin-top: 20px;
  }
  .pride-page .pride-contents ul li img {
    height: 100%;
    margin-left: 10px;
    padding: 0;
    border-radius: 8px;
    margin-top: 10px;
  }
  .pride-page .pride-explain h4 {
    font-size: 30px;
  }
  .pride-page .pride-explain p {
    font-size: 10px;
  }
  /* menu部分 */
  .menu .menu-contents .page-title {
    font-size: 30px;
  }
  .menu .menu-contents h3 {
    font-size: 13px;
    bottom: 31px;
  }
  .menu .menu-contents p {
    font-size: 8px;
    margin: 5px;
  }
  /* menuページ部分 */
  .menu-page .menu-contents .page-title {
    font-size: 50px;
  }
  .menu-page .menu-contents h3 {
    margin-top: -5px;
    font-size: 20px;
  }
  .menu-page .menu-contents p {
    font-size: 13px;
  }
  .menu-page .menu-details {
    padding: 2px 15px;
  }
  .menu-page .menu-details .menu-explain p {
    font-size: 10px;
  }
  .menu-page .back-to-prev {
    margin: 5px 0 0 0;
    padding-bottom: 10px;
  }
  /* faq部分 */
  .faq {
    padding-bottom: 25px;
  }
  .faq .faq-contents .page-title {
    font-size: 30px;
  }
  .faq .faq-contents h3 {
    font-size: 13px;
    top: 18px;
  }
  .faq .faq-contents .qa-list .qa-item {
    padding: 10px;
    font-size: 10px;
  }
  /* access部分 */
  .access {
    padding-bottom: 5px;
  }
  .access .access-contents .page-title {
    font-size: 30px;
  }
  .access .access-contents h3 {
    font-size: 13px;
    top: 19px;
  }
  .access .access-contents .detail-letter {
    width: 100%;
    padding: 20px 60px;
    font-size: 15px;
  }
  .access .access-contents .detail-letter .access-detail-explain {
    font-size: 12px;
  }
  /* footer部分 */
  footer p {
    font-size: 13px;
  }
}
